<!-- <script
  type="text/javascript"
  src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
></script>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      { pageLanguage: "en" },
      "google-translate"
    );
  }
</script> -->
<footer class="footer">
  <hr class="section-end" />
  <div class="footer-items">
    <a href="/" class="footer-item">Home</a>
    <a href="/#about" class="footer-item">About</a>
    <a href="/#services" class="footer-item">Services</a>
    <a href="/#contact" class="footer-item">Contact</a>
    <a href="/terms" class="footer-item">Terms</a>
    <a href="/login" class="footer-item">Log In</a>
    <a href="/register" class="footer-item">Register</a>
  </div>
  <div class="footer-copyright">
    <p>
      &copy; Copyright <%= new Date().getFullYear() %>. Designed and Developed
      by
      <a href="https://www.fiverr.com/share/ov8WDX" class="footer-highlight"
        >Nidhal Messaoudi</a
      >.
    </p>
  </div>
</footer>
