<nav class="navbar">
  <div>
    <a href="/"><h2>Fid786</h2></a>
  </div>
  <ul class="nav-links">
    <a href="/"><li class="nav-link">Accueil</li></a>
    <a href="/services"><li class="nav-link">Services</li></a>
    <a href="/contact"><li class="nav-link">Contact</li></a>
  </ul>
  <div>
    <a href="/login" class="nav-link"
      ><button type="button" class="btn btn-secondary">Connexion</button></a
    >
    <a href="/register" class="nav-link"
      ><button type="button" class="btn btn-primary">S'inscrire</button></a
    >
  </div>
</nav>
