<!DOCTYPE html>
<html lang="fr">
  <%- include ("includes/head") %>
  <body>
    <%- include ("includes/navbar") %>
    <div class="main-container">
      <% if (error) { %>
      <p><%- error %></p>
      <% } %>
      <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username" />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
