.dashboard {
  background-color: #eeeeee;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background-color: #ffffff;
  box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 5%),
    inset 0 -1px 0 rgb(0 0 0 / 15%);
  overflow-y: auto;
}

.sidebar-brand {
  font-size: 1.3rem;
  margin: 2rem 1.5rem 1rem 1.5rem;
  color: var(--color-primary);
}

.sidebar-item {
  padding: 1rem 1.5rem;
  transition: all 250ms;
  cursor: pointer;
  user-select: none;
}

.sidebar-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-item__active {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.sidebar-item__icon {
  color: var(--color-primary);
  margin-right: 1rem;
}

/* DASHBOARD MAIN */
.dashboard-main {
  margin-left: 20%;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.user-actions {
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.dashboard-section {
  padding-right: 2rem;
}

.dashboard-section__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-section__title {
  font-size: 2rem;
}

.dashboard-section__overview {
  margin: 0.5rem 0 0 0;
  color: rgba(0, 0, 0, 0.6);
}

.dashboard-section__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1.5rem;
  margin-top: 2rem;
}

.dashboard-section__card {
  position: relative;
  width: 20rem;
  height: 16rem;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 300ms;
}

/* HOME CARD */
.home-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.dashboard-section__card:hover {
  box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
}

.card-red {
  background: linear-gradient(to right bottom, #ff5c58, #fe8f8f);
}

.card-blue {
  background: linear-gradient(to right bottom, #506d84, #889eaf);
}

.card-yellow {
  background: linear-gradient(to right bottom, #ecac5d, #ffe699);
}

.home-card__content {
  display: block;
  font-size: 7rem;
}

/* STORE CARD */
.store-card__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}

.store-card__title {
  display: block;
  color: var(--color-primary);
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.store-card__location,
.store-card__date {
  font-size: 13px;
  opacity: 0.6;
}

.store-card__actions {
  margin-left: 0.7rem;
}

.store-card__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-card__img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
}

/* Product Points */
.product-card__points {
  border-radius: 8px;
  padding: 10px 15px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-size: 0.95rem;
  text-transform: uppercase;
}

/* ORDER MODAL */
.order-info__group {
  margin-bottom: 1rem;
}

.order-info__group-title {
  font-weight: bold;
  margin-right: 10px;
}

.order-edit__container {
  margin-top: 1rem;
  text-align: center;
}
