.product-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 1rem;
  position: relative;
}

.product-container div {
  margin-right: 1rem;
}

.product-imgs {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  column-gap: 1rem;
}

.product-imgs img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 3px;
}

.product-img__active img {
  width: 520px;
  height: 420px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
}

.product-info {
  flex: 2 1 0;
}

.product-action {
  flex: 1 1 0;
  padding: 1rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 420px;
}

.product-price {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: var(--color-primary);
}

.product-price__container {
  text-align: center;
  margin-bottom: 1.5rem;
}

.product__in-stock,
.product__out-of-stock {
  padding: 0;
}

.product-fidelity {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 1.5rem;
}

.product-fidelity__highlight {
  color: var(--color-primary);
  font-weight: bold;
}

.product-fidelity a {
  text-decoration: underline;
  font-style: italic;
}
