.product-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 1rem;
  position: relative;
}

.product-container div {
  margin-right: 1rem;
}

.product-imgs {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.product-imgs img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 3px;
  margin-bottom: 10px;
  cursor: pointer;
}

.product-img__active img {
  width: 520px;
  height: 420px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
}

.product-info {
  flex: 2 1 0;
}

.product-store {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  margin: 5px 0 2rem 0;
}

.product-store a {
  text-decoration: underline;
}

.product-description {
  color: rgba(0, 0, 0, 0.7);
}

.product-action {
  flex: 1 1 0;
  padding: 1rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 420px;
}

.product-price {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: var(--color-primary);
}

.product-price__container {
  text-align: center;
  margin-bottom: 1.5rem;
}

.product__in-stock,
.product__out-of-stock {
  padding: 0;
}

.product-fidelity {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 1.5rem;
}

.product-fidelity__highlight {
  color: var(--color-primary);
  font-weight: bold;
}

.product-fidelity a {
  text-decoration: underline;
  font-style: italic;
}

.product-order__container {
  text-align: center;
}

.form-control__mini {
  margin-bottom: 10px;
}

.form-control__mini label {
  display: inline-block;
  margin-right: 5px;
}

.form-control__mini input {
  display: inline-block;
  padding: 7px;
  width: 40px;
  text-align: center;
}

.other-products {
  margin-top: 4rem;
}

.other-products__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1.5rem;
  margin-top: 2rem;
}

.product-card {
  width: 20rem;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 300ms;
}

.product-card:hover {
  box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 46px -32px rgba(0, 0, 0, 0.75);
}

.product-card__points {
  border-radius: 8px;
  padding: 10px 15px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-size: 0.95rem;
  text-transform: uppercase;
}

.order-modal {
  text-align: center;
}

.order-modal__info {
  margin-top: 1rem;
}

.order-modal__amount {
  display: inline-block;
  margin: 0;
}
